.body{
    background-color:#011F3F;
    height:100vh;
    width:100vw;
    
}


#level-title {
    font-family:cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

.center{
    /* height:100vh;
    width:100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





h1{
    font-family:'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;

}


.green{
    background-color: green;
    border: 10px solid black;
    border-radius: 50px;
    /* border-color: black; */
}
.red{
    background-color: red;
    border: 10px solid black;
    border-radius: 50px;
}
.yellow{
    background-color: yellow;
    border: 10px solid black;
    border-radius: 50px;
}
.blue{
    background-color: blue;
    border: 10px solid black;
    border-radius: 50px;
}
/* .blue.green.red.yellow{
    height:100px;
    width:100px;
    border:10px;
    border-color: black;
} */

.game-over{
    background-color: red;
    opacity: 0.8;
}

.grid{
    display:grid;
    height:520px;
    width:520px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 50px;
    /* background-color:olive; */

}

.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
}
